@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --mainColor: lemonchiffon;
    --bg: hsl(220deg 12% 10%);
    --bgSecondary: #131417;

    --gap: 25px;
    --halfGap: calc(var(--gap) / 2);
}

html {
    font-size: 18px;
    line-height: 26px;
    color: var(--mainColor);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bgSecondary);
    margin: 0;
    height: 100%;
    overflow: hidden;
}

main {
    grid-area: content;
    width: 100%;
    height: 100%;
    background-color: #0b0c0e;
}

h1,
h2,
h3 {
    font-family: 'Varela', sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.75rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    all: unset;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: hsl(225 10% 5% / 1);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
    border-radius: 15px;
}

/* layout */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px calc(100vh - 150px) 50px;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header" "page_container" "footer";
}

header {
    grid-area: header;
}


header,
aside,
.member_list {
    padding: var(--gap)
}

.page_container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "aside content";
    grid-area: page_container;
}

aside {
    grid-area: aside;
    width: 100%;
    height: 100%;
    background-color: #101114;
}

footer {
    grid-area: footer;
    background: var(--bgSecondary);
}

/* style */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_box>button {
    background: transparent;
    border: 0;
    color: #fff;
    margin-right: .25rem;
    opacity: 0.3;
}

.search_input {
    all: unset;
}

.search_box {
    border-radius: 25px;
    border: 0;
    outline: 0;
    padding: .75rem 1.5rem .75rem .75rem;
    background: #0b0c0e;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.current_user {
    gap: var(--halfGap);
}

.current_user>.material-icons {
    font-size: 28px;
}

.member_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--gap);

    overflow: auto;
    max-height: 100%;
}

.member_img {
    border-radius: 100%;
    box-shadow: 0 0 25px -5px var(--bg);
    border: 2px solid var(--bg);
    transition: .2s ease;
    max-width: 100%;
    height: auto;
}

.member_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: var(--gap);
    padding: var(--gap);
    width: 300px;
    text-align: center;
    background: hsl(225deg 10% 7%);
    border-radius: 10px;
    border: 1px solid var(--bg);
    transition: .2s ease;
    max-width: 100%;
}

.member_item:hover {
    border-color: var(--mainColor);
    box-shadow: 0 0 25px -5px hsl(54deg 100% 90% / 40%);
}

.member_item:hover .member_img {
    border-color: hsl(54deg 100% 90% / 100%);
    box-shadow: 0 0 25px -5px hsl(54deg 100% 90% / 40%);
}

.menu_item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: var(--halfGap);
    margin-bottom: var(--halfGap);
    cursor: pointer;
    border-radius: 10px;
    background: var(--bgSecondary);
    transition: .2s ease;
}

.menu_item:hover {
    background: var(--mainColor);
    color: var(--bgSecondary);
    font-weight: bold;
}

.menu_title {
    margin-bottom: var(--gap);
}

@media screen and (max-width: 767px) {
    :root {
        --gap: 20px;
    }

    [hiddenmb] {
        display: none;
    }

    html {
        font-size: 16px;
    }

    body {
        grid-template-rows: 75px calc(100vh - 125px) 50px;
    }

    h1 {
        font-size: 1.25rem;
    }

    .page_container {
        display: flex;
        flex-direction: column;
    }

    aside {
        background: var(--mainColor);
        padding: var(--halfGap);
    }

    nav {
        display: flex;
        gap: var(--halfGap);
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
    }

    nav::-webkit-scrollbar {
        display: none
    }

    .menu_item {
        margin: 0;
        gap: 7px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .menu_item svg {
        height: 20px;
        width: 20px;
    }

    .member_item {
        width: 100%;
        flex-direction: row;
        text-align: left;
    }

    .member_img {
        width: 100px;
    }
}