@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela&display=swap');
*{    
    box-sizing: border-box;
    user-select: none;
}
$mainColor: #d70a84;

:root{
    --mainColor: #{$mainColor};
    --gap: 50px;
}

html{
    font-size:18px;
    line-height: 26px;
    color: $mainColor;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3{
    font-family: 'Varela', sans-serif;
    font-size: 1.5rem;
}
body{
    background-color: #131417;
    margin: 0;
}
main {
    flex-direction: column;
    padding: var(--gap);
    height: 100vh;
    gap: var(--gap);
}
.flex-center{
    display: flex;
    justify-content: center;
}
.box {
    height: 100%;
    gap: var(--gap);
    color: #fff;
}
.box-item {
    max-height: 200px;
    flex-flow: column wrap;
    text-align: center;
    border: 2px solid;
    box-shadow: 0 0 15px 0px #b006ff4b;
    border-radius: 15px;
    background-color: #15171f;
    padding: 15px;
    flex-grow: 1;
}
.box-item_main{
    transform: scaleY(1.07);
    border-width: 5px;
    font-size: 1.15em;
    font-weight: 600;
}
.box-item p{
    font-style:italic;
}

.red{
    $color: #bb1818d7;
    
    .box-item_main{
        background-color: $color;
    }

    .box-item {
        border-color: darken($color,  20%);
        @for $i from 1 through 4 {
            &.box-item_#{$i} {
                background-color: darken($color, $i * 5%);
            }
        }
        @for $i from 5 through 8 {
            &.box-item_#{$i} {
                background-color: lighten($color, $i * 5%);
            }
        }
    }
}
.pink{
    $color: #d70a84;   

    .box-item_main{
        background-color: $color;
    }

    .box-item {
        border-color: darken($color,  20%);
        @for $i from 1 through 4 {
            &.box-item_#{$i} {
                background-color: darken($color, $i * 5%);
            }
        }
        @for $i from 5 through 8 {
            &.box-item_#{$i} {
                background-color: lighten($color, $i * 5%);
            }
        }
    }
}
.violet{
    $color: #7413a5;
        
    .box-item_main{
        background-color: $color;
    }

    .box-item {
        border-color: darken($color,  20%);
        @for $i from 1 through 4 {
            &.box-item_#{$i} {
                background-color: darken($color, $i * 5%);
            }
        }
        @for $i from 5 through 8 {
            &.box-item_#{$i} {
                background-color: lighten($color, $i * 5%);
            }
        }
    }
}